#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.wardHeightFull{
  width:100%;    // Adjust the width according to heigh
  height: 50vh;
  background-color: #25e40bcc;
}

.wardHeightEmpty{
  width:100%;    // Adjust the width according to heigh
  height: 50vh;
  background-color: #0d0488ef;
}


.logo {
  height:50px;
  width: 50px;
  margin: 0px !important;
  padding: 0px !important;
}
